@font-face{
    font-family:"A";
    src:url("Bahiana-Regular.otf");
}
@font-face{
    font-family:"B";
    src:url("CHLORINR.TTF");
}
@font-face{
    font-family:"C";
    src:url("circulat.ttf");
}
@font-face{
    font-family:"D";
    src:url("WoodyWood DEMO.otf");
}